<div id="bodyContainer" class="container mt-3">

    <div id="cartContainer" class="container justify-content-center">

        <div class="row">
            <button id="clearCartButton" class=" btn w-100 bg-black text-white mt-2 mb-4 p-2 fs-4"> Clear
                Cart</button>
        </div>

        <div class="container-fluid row justify-content-center">

            <div id="cartProductsContainer" class="row d-flex justify-content-center col-md-8 col-sm-12">

                <!-- Stamp for testing only -->
                <!-- <div class="card mb-3 w-100">
                        <div class="row g-0 justify-content-between">

                            <div class="col-md-3 d-flex justify-content-start align-items-center">
                                <img src="https://picsum.photos/300/300" class="img-fluid rounded-start" alt="...">
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Product Name: iphone</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <h5 class="card-title">Price: 990LE</h5>
                                </div>
                            </div>

                            <div class="col-1 d-flex justify-content-center align-items-center">
                                <div class="col-1 fs-4 h-25 w-25" id="cartXMark">X</div>
                            </div>
                            


                        </div>

                    </div> -->

            </div>

            <div class="col-md-4 col-sm-12 container-fluid">
                <div class="row align-items-center" id="totalPriceSection">
                    <div id="totalPrice" class="fs-4 ">Total Price: 0LE</div>
                </div>

                <div id="checkButton" class="row">
                    <button id="checkOutButton"
                        class=" btn w-100 bg-black text-white mt-2 mb-4 p-2 fs-4">Checkout</button>
                </div>

            </div>

        </div>

    </div>

</div>