#clearCartButton{
    border-radius: 0px !important;
}

#clearCartButton:hover{

    background-color: white !important;
    color: rgb(151, 0, 0) !important;
    border: 1px solid rgb(94, 94, 94) !important;
    border-radius: 0px !important;
    transition: 300ms;

}


#cartProductsContainer img{
    max-height: 10rem;
}


/* Total Price Section */
#totalPriceSection{
    min-height: 5rem;
    background-color: rgb(228, 214, 214);
}



#checkOutButton{
    border-radius: 0px !important;
}

#cartXMark{
    cursor: pointer;
    transition: 300ms;

}
#cartXMark:hover{
    text-decoration: underline;
    color: red;
    transition: 300ms;
}