

#bodyFilterProducts #bodyProducts{
    overflow: auto;
}

.card .card-body{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.card{
    border: none !important;
    background-color: rgba(248, 240, 240, 0.425) !important;
    border-radius: 0px;
    opacity: 0.9;
    transition: 200ms;
}

.card:hover{
    opacity: 1;
    transition: 200ms;
}


.card .btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0px;
}
.card .btn:hover{
    background-color: rgb(29, 15, 79);
}

#bodyFilter .list-group-item:hover{
    transition: 300ms;
}
#bodyFilter .list-group-item:hover{
    background-color: rgb(219, 199, 199);
    transition: 300ms;

}



@media only screen and (max-width: 1000px) { 
    #bodyFilter{ 
      display: none !important; 
    } 
  }


#bodyProducts img{
max-height: inherit;
}

#img{
    max-height: 200.14px;
    min-height: 200.14px;

    display: flex;
    align-items: center;
    justify-content: center;

}
