<!-- Exit Mark -->
    <div class="container">
        <!-- Exit mark -->
        <div class="row mb-4 mt-4 d-flex justify-content-end" style="background-color: rgb(247, 243, 243);">
            <a id="exitMark" class=" border fs-4" href="../index.html">X</a>
        </div>
    </div>



    <div id="productsPageBody">

        <div id="bodyContainer" class="container-fluid">



            <div id="bodyFilterProducts" class="row justify-content-center">

                <!-- Filter Section -->
                <div id="bodyFilter" class="col-2 d-flex">

                    <ul class="list-group" ">
                        
                        <!-- list 1 -->
                        <li class=" list-group-item d-flex justify-content-between align-items-start mt-3">
                        <div class="ms-2 me-auto">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="smartphones"
                                    id="flexCheckIndeterminate1">
                                <label class="form-check-label" for="flexCheckIndeterminate1">
                                    Smart Phones
                                </label>
                            </div>

                        </div>
                        <span class="badge rounded-pill bg-black " id="filterBadge1">0</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start mt-3">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="laptops"
                                    id="flexCheckIndeterminate2">
                                <label class="form-check-label" for="flexCheckIndeterminate2">
                                    Laptops
                                </label>
                            </div>

                            <span class="badge rounded-pill bg-black" id="filterBadge2">0</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start mt-3">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="fragrances"
                                    id="flexCheckIndeterminate3">
                                <label class="form-check-label" for="flexCheckIndeterminate3">
                                    Fragrances
                                </label>
                            </div>

                            <span class="badge rounded-pill bg-black" id="filterBadge3">0</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start mt-3">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="skincare"
                                    id="flexCheckIndeterminate4">
                                <label class="form-check-label" for="flexCheckIndeterminate4">
                                    Skincare
                                </label>
                            </div>

                            <span class="badge rounded-pill bg-black" id="filterBadge4">0</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start mt-3">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="groceries"
                                    id="flexCheckIndeterminate5">
                                <label class="form-check-label" for="flexCheckIndeterminate5">
                                    Groceries
                                </label>
                            </div>

                            <span class="badge rounded-pill bg-black" id="filterBadge5">0</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start mt-3">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="home-decoration"
                                    id="flexCheckIndeterminate6">
                                <label class="form-check-label" for="flexCheckIndeterminate6">
                                    Home Decoration
                                </label>
                            </div>

                            <span class="badge rounded-pill bg-black" id="filterBadge6">0</span>
                        </li>

                    </ul>

                </div>

                <!-- here is where the products are fetched in JS -->
                <div id="bodyProducts" class="col-10 d-flex flex-wrap justify-content-center">

                    <!-- Example Stamp -->
                    <!-- <div class="card m-3" style="width: 18rem;">

                        <img src="https://picsum.photos/300/300" class="card-img-top" alt="...">

                        <div class="card-body">

                          <h5 class="card-title">Name</h5>
                          <p class="card-text"> of the card's content.</p>
                          <h6 class="card-title">Price</h6>
                          <a href="" class="btn btn-primary"><i class="fa-solid fa-cart-shopping" style="color: white;"></i></i> Add To Cart</a>

                        </div>

                    </div> -->

                </div>


            </div>
        </div>

    </div>

