    <div id="accountBody" class="container">

        <div id="accountdata" class="row mt-3">

            <div id="imageHolder" class="col-12 col-lg-4">
                <img src="" alt="" id="accountImage" class="img-fluid bg-body-secondary">
            </div>

            <div id="dataHolder" class="col-12 col-lg-8 d-flex flex-wrap align-content-between">
                <div class="col-12 mt-3">First Name</div>
                <input id="firstName" type="text" readonly class="input-group-text rounded-0">
                <div class="col-12">Last Name</div>
                <input id="lastName" type="text" readonly class="input-group-text rounded-0">
                <div class="col-12">Mobile Number</div>
                <input id="gender" type="text" readonly class="input-group-text rounded-0">
                <div class="col-12">Email</div>
                <input id="email" type="text" readonly class="input-group-text rounded-0">
                <div class="col-12">Password</div>
                <input id="password" type="text" readonly class="input-group-text rounded-0">
            </div>

        </div>

        <div class="row">
            <button id="LogOutButton" class="btn col-12 p-3 mt-3 mb-3 bg-black text-white rounded-0">Log Out</button>
        </div>

        <div class="row">
            <button id="addProductPage" class="btn col-12 p-3 mt-3 mb-3 bg-danger text-white rounded-0 d-none">Add Products</button>
        </div>
        
    </div>


