<div class="flex-grow-1">
    <div id="cardsContainer" class="container-fluid d-flex flex-wrap h-100 ">

        <div class="card col-sm-12 col-md-12 border col-lg-6 border1 labtops h-30 " id="laptops"
            value="laptops">
            <img src="src/assets/image/wp8971473.jpg" class="card-img col-sm-4 col-md-4 h-100">
            <button type="button"
                class=" btn btn-dark laptobsBtn  col-md-6 btn-lg position-absolute top-50 start-50 translate-middle"
                value="laptops">Laptops</button>
        </div>

        <div class="card col-sm-12 col-md-12 border h-30 col-lg-6 border1 fragrances" id="fragrances"
            value="fragrances">
            <img src="src/assets/image/fragrances.jpg" class="card-img col-sm-4 col-md-4 h-100">
            <button type="button"
                class="btn btn-dark fragrancesBtn  col-md-6 d-sm-block btn-lg position-absolute top-50 start-50 translate-middle"
                value="fragrances">Fragrances</button>
        </div>

        <div class="card col-sm-12 col-md-12 border col-lg-6 border1 groceries h-30" id="groceries"
            value="groceries">
            <img src="src/assets/image/groceries.jpg" class="card-img col-sm-4 col-md-4 h-100">
            <button type="button"
                class="btn btn-dark groceriesBtn  col-md-6 btn-lg position-absolute top-50 start-50 translate-middle"
                value="groceries">Groceries</button>
        </div>

        <div class="card col-sm-12 col-md-12 border col-lg-6 border1 homeDecoration h-30" id="home-decoration"
            value="home-decoration">
            <img src="src/assets/image/homeDecoration.jpg" class="card-img col-sm-4 col-md-4 h-100">
            <button type="button"
                class="btn btn-dark homeBtn btn-lg position-absolute top-50 start-50 translate-middle col-md-6"
                value="home-decoration">Home Decoration</button>
        </div>

        <div class="card col-sm-12 col-md-12 border col-lg-6 border1 smartphone h-30" id="smartphones"
            value="smartphones">
            <img src="src/assets/image/istockphoto-1274394138-170667a.jpg" class="card-img col-sm-4 col-md-4 h-100">
            <button type="button"
                class="btn btn-dark smartPhoneBtn  col-md-6 btn-lg position-absolute top-50 start-50 translate-middle"
                value="smartphones">Smart Phones</button>
        </div>

        <div class="card col-sm-12 col-md-12 border col-lg-6 border1 skinCare h-30" id="skincare"
            value="skincare">
            <img src="src/assets/image/skinCare.jpg" class="card-img col-sm-4 col-md-4 h-100">
            <button type="button"
                class="btn btn-dark skinCareBtn  col-md-6 btn-lg position-absolute top-50 start-50 translate-middle"
                value="skincare">Skin Care</button>
        </div>
    </div>
    <div class="container-fluid mt-2 mb-4">
        <button id="ShowAllProducts" type="button" class="btn btn-danger groceriesBtn col-12 p-4 "
            value="0">Show all Products</button>
    </div>
</div>


