<div id="headerContainer" class="container-fluid">

    <!-- first row on header [ banner ] -->
    <div id="HeaderBanner" class="row bg-black text-white text-center p-2">
        <div id="headerBannerContent" class="col-12 py-1 fs-5"><marquee behavior="" direction="" scrollamount="20" scrolldelay="15"><q>Your most unhappy customers are your greatest source of learning.</q></marquee></div>
    </div>

    <!-- Header Help section language and currency Section -->
    <div id="headerHelp" class="row">
        <div id="headerContent" class="col-12 d-flex justify-content-end bg-light">
            <div id="headerContentHelp"     class="btn">Help</div>
            <div id="headerContentLocation" class="btn">Egypt</div>
            <div id="headerContentCurrency" class="btn">EGP</div>
            <div id="headerContentLanguage" class="btn">English</div>
        </div>
    </div>

    <!-- Header Nav Bar Section -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary row" id="headerNavBar">
        <div class="container-fluid ">

            <!-- brand name -->
            <a class="navbar-brand fs-1" href="/#home">Peloto</a>


            <!-- menu button that will appear in small width -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- this area collapse in small width and show menu button -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- search area and the search button -->
                <form class="d-flex ms-auto w-50" role="search">
                    <input class="form-control me-3 " type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success nrmBrd" type="submit">Search</button>
                </form>


                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">

                    <li style="cursor: pointer;" id="headerShoppingCartButton" class="nav-item m-1 position-relative">
                        <a class="nav-link active" href="/#cart" aria-current="page"><i
                                class="fa-solid fa-cart-shopping"></i> Cart
                            <span id="addToCartBadge"
                                class="text-light bg-success position-absolute top-0 start-0 translate-middle badge rounded-pill ">
                                0
                            </span></a>
                    </li>

                    <li class="nav-item m-1">
                        <a class="nav-link active" aria-current="page" href="/#cart"><i
                                class="fa-solid fa-thumbs-up"></i>
                            Favorite</a>
                    </li>
                    
                    <li class="nav-item m-1" id="logged">
                        <a id="loggedLink" href="/#account" class="nav-link active" aria-current="page"
                            href="../html/account.html">
                            <!-- CODE MUST APPEAR HERE NEW PROFILE -->
                        </a>
                    </li>

                    <li class="nav-item m-1" id="unLogged">
                        <a class="nav-link active" aria-current="page" href="/#login"><i
                                class="fa-solid fa-right-to-bracket"></i>
                            Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>


