<section class="container my-  w-50 text-light p-3 ">

    <div class="row g-3 align-items-end">

        <form id="mainForm" action="" class="row g-3 align-items-end">

            <div class="col-md-10 ">
            </div>

            <div class="col-md-10 ">
                <label class="form-label text-dark">SUBSCRIBE WITH YOUR EMAIL ADDRESS</label>
            </div>


            <div class="col-md-6">
                <input type="text" class="form-control regist" placeholder="First name" id="firstNameInput" required>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control regist" placeholder="Last name" id="lastNameInput" required>
            </div>
            <div class="col-md-12">
                <input type="email" class="form-control regist" id="emailInput" placeholder="Enter your Email" required>
            </div>



            <div class="col-md-3">
                <select class="form-select regist">
                    <option selected>+02</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-3 ">
                <select class="form-select regist">
                    <option selected>Select</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control regist" id="mobileInput" placeholder="Mobile Phone"
                    pattern="0\d{10}">
            </div>

            <div class="col-md-12">
                <input type="password" class="form-control regist" id="passwordInput" placeholder="Password" required>
            </div>


            <label class="text-dark">Date of Birth</label>
            <div class="col-md-3">
                <select class="form-select regist">
                    <option selected>Day</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select regist">
                    <option selected>Month</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="col-md-6">
                <select class="form-select regist">
                    <option selected>Year</option>
                    <option value="1">1990</option>
                    <option value="2">1991</option>
                    <option value="3">1992</option>
                    <option value="4">1993</option>
                    <option value="5">1994</option>
                    <option value="6">1995</option>
                    <option value="7">1996</option>
                    <option value="8">1997</option>
                    <option value="9">1998</option>
                    <option value="10">1999</option>
                    <option value="11">2000</option>
                </select>
            </div>
            <label class="text-dark">Gender</label>
            <div class="col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input border-black bg-black" type="radio" name="inlineRadioOptions"
                        id="female" value="female">
                    <label class="form-check-label text-secondary" for="female">Female</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input border-black bg-black" type="radio" name="inlineRadioOptions"
                        id="male" value="male">
                    <label class="form-check-label text-secondary" for="male">Male</label>
                </div>
            </div>
            <div class="cols-3 ">

                <input class="form-check-input border-black bg-black " type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label text-dark" for="flexCheckDefault">
                    I would like to sign up for the Peloto newsletter, receive Peloto survey inquiries and accept
                    to receive E-Mails /SMS /calls for marketing purposes. I can unsubscribe from the newsletter and
                    survey inquiries at any time for the future, e.g. by clicking on the unsubscribe link or sending
                    an e-mail to dataprotection@Peloto.com.
                </label>
            </div>
            <div class="cols-2">
                <input class="form-check-input border-black bg-black" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label text-dark" for="flexCheckChecked">
                    I have read and understand the Website Terms Use and the Privacy Policy by clicking of the
                    "Register" button.
                </label>
            </div>
            <div class="d-grid gap-1 col-6 mx-auto col-md-12">
                <button type="submit" class="btn btn-outline-dark btn-lg bord rounded-0" style="height: 100px;"
                    id="confirmButton">Confirm</button>
            </div>
            <div class="col-md-12 text-xl-center ">
                <a class="link-offset-1 text-dark" href="../index.html">Continue as guest</a>
            </div>
            <div class="col-md-12 bg-black" style="height: 120px;">
                <br><br>
                <p class="text-xl-center">Already have an account? <a href="../html/signInPage.html"
                        class="text-light">SignIn</a></p>
            </div>
        </form>

    </div>


</section>