/* ======================= [ BODY SECTION ] ============================================== */

/* price Section */
#cartPriceDetails .btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0px;
}

#cartPriceDetails ul div{
    margin: 2rem 0;
    font-size: 1rem;

}


/* ========================= [ Comments Section ] ============================================ */
#commentProfileImage{
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    margin: 1rem;
}

#imageSectionDetails img{
    transition: 200ms;
}
#imageSectionDetails img:hover{
    opacity: 0.9;
    transform: scale(0.95);
    transition: 200ms;
}

#commentText{
    margin: 1rem;
}
