
        <div id="bodyContainer" class="container mt-3">
            <div class="d-flex flex-wrap justify-content-between">

                <!-- images and comments left side Detailed -->
                <div id="imageCommentdetails" class="col-md-8 col-sm-12" >

                    <div id="imageSectionDetails" class="row d-flex flex-wrap">

                        <!-- for testing images only to fetch product images -->
                        <!-- <img src="https://picsum.photos/400/200" alt="" class="img-thumbnail w-50">
                        <img src="https://picsum.photos/400/200" alt="" class="img-thumbnail w-50">
                        <img src="https://picsum.photos/400/200" alt="" class="img-thumbnail w-50">
                        <img src="https://picsum.photos/400/200" alt="" class="img-thumbnail w-50"> -->

                    </div>

                    <!-- comments area under the images in the page -->
                    <div id="commentsSectionDetails" class="row mt-5">

                        <div class="display-4">Comments</div>

                        <ul class="list-group" id="commentContainer">

                            <li class="list-group-item d-flex flex-wrap">

                                <div id="commentprofile" class="col-12 fs-4 d-flex align-items-center justify-content-start">

                                    <img id="commentProfileImage" src="https://picsum.photos/200/200" alt="">
                                    <div id="commentName" class="fs-4">Abdulrahman Ahmed</div>

                                </div>
                                <div id="commentText" class="col-12">this is pretty awesome product</div>

                            </li>

                          </ul>

                    </div>

                </div>

                <!-- cart Price right side Detailed -->
                <div id="cartPriceDetails" class="col-md-3 col-sm-12 d-flex flex-wrap">

                    <ul class="list-group list-group-flush">
                    <div id="productName" class="col-12 fs-5"></div>
                    <div id="productBrand" class="col-12 fs-5"></div>
                    <div id="productDescription" class="col-12 fs-5"></div>
                    <div id="productCategory" class="col-12 fs-5"></div>
                    <div id="productPrice" class="col-12 fs-4" style="font-weight: bold; color: rgb(98, 98, 98);"></div>
                    <a href="" class="btn btn-primary fs-5"><i class="fa-solid fa-cart-shopping" style="color: white;"></i></i> Add To Cart</a>
                    </ul>


                </div>
            </div>
            </div>
        </div>


