
    <section class="container my-  w-50 text-light p-3 ">

        <div class="row g-3 align-items-end">

            <!-- <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <a href="/index.html">
                    
                    <input type="button" name="check" class="btn-check " id="btncheck1" autocomplete="off"></a>
                <label class="btn btn-outline-dark btn-lg bord" for="btncheck1"> Login</label>
                <a href="">
                    <input type="button" name="check" class="btn-check bg-black" id="btncheck2" autocomplete="off"
                        checked></a>
                <label class="btn btn-outline-dark btn-lg bord bg-black text-light" for="btncheck2">Register</label>
            </div> -->
            <div class="col-md-10 ">
            </div>
            <!-- ============================================= [ADD PRODUCT SECTION] ================================= -->

            <form  class="row" id="mainForm">

                <div class="col-md-10 ">
                    <label class="form-label text-dark">Enter Your Product Details</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control regist" placeholder="Product Title" id="orderTitle" required>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control regist" placeholder="Product Brand" id="orderBrand" required>
                </div>
                <div class="col-md-6">
                    <textarea name="orderDescription" id="orderDescription" class="form-control regist"
                        placeholder="Product Description"></textarea>
                </div>
                <div class="col-md-3">
                    <label for="Select_Category">Select Category</label>
                </div>
                <div class="col-md-3 mt-3">
                    <select name="Select_Category" id="selectCategory">
                        <option value="smartphones">smartphones</option>
                        <option value="laptops">laptops</option>
                        <option value="fragrances">fragrances</option>
                        <option value="skincare">skincare</option>
                        <option value="groceries">groceries</option>
                        <option value="home-decoration">home-decoration</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <input type="number" class="form-control regist" placeholder="Product Price" id="orderPrice"
                        required>
                </div>
                <div class="col-md-12">
                    <p class="bg-dark text-center">Add your Product Images Link</p>
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control regist" placeholder="Product img1" id="orderImg1" required>
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control regist" placeholder="Product img2" id="orderImg2">
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control regist" placeholder="Product img3" id="orderImg3">
                </div>
                <div class="col-md-12">
                    <p class="bg-dark text-center">Add Thumbnail Image Link</p>
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control regist" placeholder="Product img1" id="orderMainImg"
                        required>
                </div>



                <div class="d-grid gap-1 col-6 mx-auto col-md-12">
                    <button type="submit" class="btn btn-outline-dark btn-lg bord rounded-0" style="height: 100px;"
                        id="confirmButton">Confirm</button>
                </div>

            </form>

        </div>

    </section>
 