<div class="pagesign">
    <div class="container signPage justify-content-center">
        <div class="row justify-content-between">

            <div class="col-xl-6 d-none d-xl-block row justify-content-center">
                <img src="../media/image/pageLogo.png" class="img-fluid" alt="">
            </div>

            <div class="col-xl-6 col-12 signdiv">
                <div>
                    <h2 class="signHead">SIGN IN</h2>
                </div>
                <form class="signForm" id="mainForm">
                    <!--//////////////////////////////// Email Sign\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control emailSign" id="emailInput" name="emailSign" required
                            placeholder="name@example.com" aria-describedby="emailHelp">
                        <label for="emailSign">Email address</label>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <!--//////////////////////////////// password Sign\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                    <div class="form-floating">
                        <input type="password" class="form-control passSign" name="passwordSign" id="PasswordInput"
                            required minlength="6" maxlength="15" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <br>
                    <a id="dontHaveAccount" href="../html/signUpPage.html" class="text-secondary m fs-4">Don't have
                        account?</a>

                    <button type="submit" id="submitSign"
                        class="btn btn-lg btn-dark btn-outline-dark w-100 border-0 mt-4">SIGN IN</button>
                </form>
            </div>


        </div>
    </div>
</div>