<!-- Check Card -->
<section class="container my-  col-12 col-md-8 text-light p-3 lg">
    <!-- <form class="row g-3"> -->

    <div class="col-md-12">

        <!-- ------------------ [ Payment Page Body ] --------------------- -->
        <div class="row mt-5 p-5 border rounded shadow mb-5 bg-body-tertiary ">


            <!-- ------------------------ [ Form ] --------------------------- -->
            <div class="col-12 col-xl-9">
                <div class="row g-3 align-items-end" id="formInputs">
                    <!-- card name/////////////////////// -->

                    <div class="col-md-12">
                        <label class="form-label text-dark ms-2">Card Holder's Name :</label>
                        <input type="text" class="form-control" placeholder="Name On Card" required id="cardName">
                    </div>


                    <!-- card number ////////////////////////// -->
                    <label class="form-label text-dark ms-2">Card Number :</label>

                    <div class="col-3 mt-0">
                        <input type="text" class="form-control cardNum" id="firstFour" maxlength="4" placeholder="XXXX"
                            required>

                    </div>
                    <div class="col-3 mt-0">
                        <input type="text" class="form-control cardNum" id="secondFour" maxlength="4" placeholder="XXXX"
                            required>

                    </div>
                    <div class="col-3 mt-0">
                        <input type="text" class="form-control cardNum" id="thirdFour" maxlength="4" placeholder="XXXX"
                            required>

                    </div>
                    <div class="col-3 mt-0">
                        <input type="text" class="form-control cardNum" id="fourthFour" maxlength="4" placeholder="XXXX"
                            required>
                    </div>

                    <!-- date and cvv//////////////////// -->

                    <div class="col-6">
                        <label class="form-label text-dark ms-2 ">Expiration Date</label>
                    </div>
                    <div class="col-6">
                        <label class="form-label text-dark ms-2 ">CVV</label>
                    </div>

                    <div class="col-6 mt-0">
                        <input type="text" class="form-control" id="expirationDate" maxlength="7" placeholder="MM/YYYY"
                            required>

                    </div>
                    <div class="col-6 mt-0">
                        <input type="text" class="form-control" id="cvv" maxlength="3" placeholder="Code : XXX"
                            required>
                    </div>

                    <!--////////////// address//////////////////////////// -->
                    <div class="col-8">
                        <label class="form-label text-dark ms-2 ">Address :</label>
                    </div>
                    <div class="col-4">
                        <label class="form-label text-dark  ">City :</label>
                    </div>
                    <div class="col-8 mt-0">
                        <input type="text" class="form-control" id="expiratioDate" placeholder="Address In Detail"
                            required>

                    </div>
                    <div class="col-4 mt-0">
                        <input type="text" class="form-control" id="expiratioDate" placeholder="Your City" required>

                    </div>


                    <!--//////////////////////// total Amont//////////////////// -->

                    <!-- <div class="col-4">
                            <label class="form-label text-dark  ">Total Amount :</label>
                            <label class="form-label text-dark  " id="labelForAmount"></label>
                        </div> -->


                    <!-- ///////Pay now button /////////////////////////////////// -->

                    <div class="d-grid gap-1 col-12 mx-auto">

                        <button class="btn btn-outline-dark mt-5" type="button" id="payBtn">Pay Now</button>
                        <!-- <button class="btn btn-outline-dark btn-secondary   mt-5" type="button" id="payBtn">Pay Now</button> -->
                    </div>

                </div>
            </div>

            <!-- temp used color #757672 -->
            <!-- ------------------ [ Total Price ] ------------------ -->
            <div id="totalPriceSection" class="col-12 col-xl-3 mt-4 container-fluid text-black"
                style="background-color: #f2f2f2;">

                <div id="ordersWord" class="row justify-content-start m-3">Orders</div>

                <!-- Selected Products -->
                <div id="productsContainer" class="row">

                </div>


                <div class="container" id="checkDetails">

                    <!-- shipping -->
                    <div class="row">
                        <div class="col-6">Shipping:</div>
                        <div id="shipping" class="col-3">21</div>
                        <div class="col-3">LE</div>
                    </div>
                    <!-- Fees -->
                    <div class="row">
                        <div class="col-6">Fees:</div>
                        <div id="fees" class="col-3">0</div>
                        <div class="col-3">LE</div>
                    </div>
                    <hr>
                    <!-- Total  -->
                    <div class="row">
                        <div class="col-6">Total:</div>
                        <div id="totalPrice" class="col-3">0</div>
                        <div class="col-3">LE</div>
                    </div>
                </div>



            </div>

        </div>

    </div>

    <!-- -------------------- [ Alert Section ] ----------------------- -->
    <div class="alert alert-danger fixed-top h-auto p-3 fs-3" id="alert" role="alert">
    </div>
    <!-- payment done//////////////////////////// -->
    <div class="alert alert-success fixed-top p-3 fs-5" id="doneMsg" role="alert">
        <h4 class="alert-heading">Your order is procced..!</h4>
        <p>you successfully read this important alert message. Thank you for dealing with us :)</p>
        <!-- <hr> -->
        <!-- <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
    </div>
    <!-- --------------------------------------------------------------- -->
</section>